root = true

[*]
charset                  = utf-8
end_of_line              = lf
indent_size              = 2
indent_style             = space
insert_final_newline     = true
trim_trailing_whitespace = true

[*.php]
indent_size                                = 4
ij_php_align_assignments                   = true
ij_php_blank_lines_before_return_statement = 1
ij_php_align_key_value_pairs               = true
ij_php_align_multiline_parameters          = true
ij_php_align_phpdoc_param_names            = true

[*.{md, markdown}]
trim_trailing_whitespace = false

[*.feature]
trim_trailing_whitespace = false

[.editorconfig]
ij_editorconfig_align_group_field_declarations = true
