/.idea          export-ignore
/features       export-ignore
/resources      export-ignore
/.editorconfig  export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.github        export-ignore
/tests          export-ignore
/CHANGELOG.md   export-ignore
/README.adoc    export-ignore
/build.*        export-ignore
/psalm.xml      export-ignore
/phpunit.xml    export-ignore
